.lunch-img, .card {
  cursor: pointer;
}

.btn-lunch {
  font-weight: bold;
  margin-bottom: 3%;
  width: 250px;
  height: 50px;
}

.row {
  margin-bottom: 3%;
}

label {
  padding-left:0 !important;
  margin-left:0 !important;
}

.card-body{
  padding: 0%
}
.border-trans{
  border: white
}
.font-black{
  color:black
}

.font-white{
  color:rgba(53, 46, 46, 0.931);
  border-color: rgb(0, 0, 0);
  border:2px
}